:root {
  --color-text: #000;
}

* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  /* font-weight: normal; */
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-left::after {
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  z-index: 1;
}

.gradient-bottom::after {
  background: linear-gradient(
    0deg,
    #181818 0,
    hsla(0, 0%, 9%, 0.987) 1.62%,
    hsla(0, 0%, 9%, 0.951) 3.1%,
    hsla(0, 0%, 9%, 0.896) 4.5%,
    hsla(0, 0%, 9%, 0.825) 5.8%,
    hsla(0, 0%, 9%, 0.741) 7.06%,
    hsla(0, 0%, 9%, 0.648) 8.24%,
    hsla(0, 0%, 9%, 0.55) 9.42%,
    hsla(0, 0%, 9%, 0.45) 10.58%,
    hsla(0, 0%, 9%, 0.352) 11.76%,
    hsla(0, 0%, 9%, 0.259) 12.94%,
    hsla(0, 0%, 9%, 0.175) 14.2%,
    hsla(0, 0%, 9%, 0.104) 15.5%,
    hsla(0, 0%, 9%, 0.049) 16.9%,
    hsla(0, 0%, 9%, 0.013) 18.38%,
    hsla(0, 0%, 9%, 0) 20%
  );
  z-index: 1;
}

.hook-hr {
  background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, 0.5) 50%, #777);
}

nav .active {
  font-weight: bolder;
  color: #fff;
}

.search-input {
  background: linear-gradient(to right, #e50914 -0.08%, #c94ff5 81.14%, #5b79f1 99.92%);
  box-shadow: 8px 5px 16px 0 rgba(0, 0, 0, 0.37);
}

.body-color {
  background: radial-gradient(
    300% 100% at center top,
    rgba(169, 185, 250, 0.15) 0%,
    rgba(251, 251, 251, 0) 25%
  );
}

.secondary-gradient {
  background: linear-gradient(90deg, #6c1f41 -3.05%, #220e0f 99.59%);
}

.dialog-enter-from,
.dialog-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

.dialog-enter-to,
.dialog-leave-from {
  opacity: 1;
  transform: scale(1);
}

.dialog-enter-active {
  transition: all 0.3s ease-out;
}

.dialog-leave-active {
  transition: all 0.3s ease-in;
}
