:root {
  --color-text: #fff;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient-left::after {
  background: linear-gradient(
    to right,
    #10141e 0%,
    #10141e 10%,
    hsla(222, 29%, 9%, 0.98) 20%,
    hsla(222, 29%, 9%, 0.97) 25%,
    hsla(222, 29%, 9%, 0.95) 35%,
    hsla(222, 29%, 9%, 0.94) 40%,
    hsla(222, 29%, 9%, 0.92) 45%,
    hsla(222, 29%, 9%, 0.9) 50%,
    hsla(222, 29%, 9%, 0.87) 55%,
    hsla(222, 29%, 9%, 0.82) 60%,
    hsla(222, 29%, 9%, 0.75) 65%,
    hsla(222, 29%, 9%, 0.63) 70%,
    hsla(222, 29%, 9%, 0.45) 75%,
    hsla(222, 29%, 9%, 0.27) 80%,
    hsla(222, 29%, 9%, 0.15) 85%,
    hsla(222, 29%, 9%, 0.08) 90%,
    hsla(222, 29%, 9%, 0.03) 95%,
    hsla(222, 29%, 9%, 0) 100%
  );

  z-index: 2;
}

.bg-gradient-bottom::after {
  background: linear-gradient(
    to top,
    #10141e 0%,
    #10141e 1.62%,
    hsla(222, 29%, 9%, 0.987) 3.1%,
    hsla(222, 29%, 9%, 0.951) 4.5%,
    hsla(222, 29%, 9%, 0.896) 5.8%,
    hsla(222, 29%, 9%, 0.825) 7.06%,
    hsla(222, 29%, 9%, 0.741) 8.24%,
    hsla(222, 29%, 9%, 0.648) 9.42%,
    hsla(222, 29%, 9%, 0.55) 10.58%,
    hsla(222, 29%, 9%, 0.45) 11.76%,
    hsla(222, 29%, 9%, 0.352) 12.94%,
    hsla(222, 29%, 9%, 0.259) 14.2%,
    hsla(222, 29%, 9%, 0.175) 15.5%,
    hsla(222, 29%, 9%, 0.104) 16.9%,
    hsla(222, 29%, 9%, 0.049) 18.38%,
    hsla(222, 29%, 9%, 0.013) 20%,
    hsla(222, 29%, 9%, 0) 100%
  );
  z-index: 1;
}

.bg-linear-hr {
  background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, 0.5) 50%, #777);
}

.bg-search-input {
  background: linear-gradient(to right, #e50914 -0.08%, #c94ff5 81.14%, #5b79f1 99.92%);
}

.bg-radial-white {
  background: radial-gradient(
    300% 100% at center top,
    rgba(169, 185, 250, 0.15) 0%,
    rgba(251, 251, 251, 0) 25%
  );
}

.bg-gradient-red {
  background: linear-gradient(90deg, #6c1f41 -3.05%, #220e0f 99.59%);
}

.scrollbar-0 {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-0::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

::-webkit-scrollbar {
  width: 0.65rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d5dee6;
  border-radius: 3rem;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

.range-min,
.range-max {
  pointer-events: none;
}

.range-min::-webkit-slider-thumb,
.range-max::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #181818;
  border-radius: 50%;
  cursor: pointer;
}

.disabled-thumb::-webkit-slider-thumb {
  pointer-events: none;
  background: #ccc;
  cursor: not-allowed;
}
