:root {
  --color-text: #fff;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  line-height: 1.6;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient-left::after {
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  z-index: 1;
}

.bg-gradient-bottom::after {
  background: linear-gradient(
    0deg,
    #181818 0,
    hsla(0, 0%, 9%, 0.987) 1.62%,
    hsla(0, 0%, 9%, 0.951) 3.1%,
    hsla(0, 0%, 9%, 0.896) 4.5%,
    hsla(0, 0%, 9%, 0.825) 5.8%,
    hsla(0, 0%, 9%, 0.741) 7.06%,
    hsla(0, 0%, 9%, 0.648) 8.24%,
    hsla(0, 0%, 9%, 0.55) 9.42%,
    hsla(0, 0%, 9%, 0.45) 10.58%,
    hsla(0, 0%, 9%, 0.352) 11.76%,
    hsla(0, 0%, 9%, 0.259) 12.94%,
    hsla(0, 0%, 9%, 0.175) 14.2%,
    hsla(0, 0%, 9%, 0.104) 15.5%,
    hsla(0, 0%, 9%, 0.049) 16.9%,
    hsla(0, 0%, 9%, 0.013) 18.38%,
    hsla(0, 0%, 9%, 0) 20%
  );
  z-index: 1;
}

.bg-linear-hr {
  background: linear-gradient(90deg, #777 0, rgba(51, 51, 51, 0.5) 50%, #777);
}

.bg-search-input {
  background: linear-gradient(to right, #e50914 -0.08%, #c94ff5 81.14%, #5b79f1 99.92%);
}

.bg-radial-white {
  background: radial-gradient(
    300% 100% at center top,
    rgba(169, 185, 250, 0.15) 0%,
    rgba(251, 251, 251, 0) 25%
  );
}

.bg-gradient-red {
  background: linear-gradient(90deg, #6c1f41 -3.05%, #220e0f 99.59%);
}

.scrollbar-0 {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-0::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.rounded-0-child > div,
.rounded-0-child > div > img {
  border-radius: 0 !important;
}

.rounded-0-child div {
  min-height: auto;
}
