@import './base.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-navy: #10141e;
  --color-film-primary: #e50914;
  --color-film-secondary: #fff;
  --color-film-tertiary: #000;
  --color-button-hover: #f40612;
  --color-button-sec-hover: hsla(0, 0%, 59%, 0.3);
  --font-noto-sans: : 'Noto Sans', serif;
}

@utility container {
  margin-inline: auto;
  max-width: 100rem;
}
