@import './base.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-blue-navy: #10141e;
  --color-blue-slate: #232731;
  --color-red-netflix: #e50914;
  --color-white-primary: #f8f9fc;
  --color-black-primary: #000;
  --color-button-hover: #f40612;
  --color-gray-medium: #a3a3a3;
  --color-button-sec-hover: hsla(0, 0%, 59%, 0.3);
  --font-noto-sans: : 'Noto Sans', serif;
  --breakpoint-3xl: 110rem;
}

@utility container {
  margin-inline: auto;
  max-width: 100rem;
}
